<h1>{{displayMessage}}</h1>

<table>
  <tr>
    <td (click)="placeX(0)">
      {{places[0]}}
    </td>
    <td (click)="placeX(1)">
        {{places[1]}}
    </td>
    <td (click)="placeX(2)">
        {{places[2]}}
    </td>
  </tr>
  <tr>
    <td (click)="placeX(3)">
        {{places[3]}}
    </td>
    <td (click)="placeX(4)">
        {{places[4]}}
    </td>
    <td (click)="placeX(5)">
        {{places[5]}}
    </td>
  </tr>
  <tr>
    <td (click)="placeX(6)">
        {{places[6]}}
    </td>
    <td (click)="placeX(7)">
        {{places[7]}}
    </td>
    <td (click)="placeX(8)">
        {{places[8]}}
    </td>
  </tr>
</table>

