<div *ngIf="alerts.length" class="alertsCont">
  <div *ngFor="let alert of alerts; let i = index">
      <div *ngIf="alert.advisory_message != ''" class="panel">
        <div class="panelHeader" (click)="togglePanel(i+'A')">
          <h2>Service Advisory</h2>
        </div>
        <div class="panelBody" id="{{i}}A" style="display:none">
          <p [innerHTML]="alert.advisory_message"></p>
        </div>
      </div>
      <div *ngIf="alert.detour_message != ''" class="panel">
          <div class="panelHeader" (click)="togglePanel(i+'B')">  
            <h2>Detour</h2>
          </div>
          <div class="panelBody" id="{{i}}B" style="display:none">
            <p [innerHTML]="alert.detour_message"></p>
            <p>
              <strong>Start location:</strong> <span [innerHTML]="alert.detour_start_location"></span>
            </p>
            <p>
              <strong>Start date and time:</strong> <span [innerHTML]="alert.detour_start_date_time"></span>
            </p>
            <p>
              <strong>End date and time:</strong> <span [innerHTML]="alert.detour_end_date_time"></span>
            </p>
            <p>
              <strong>Reason:</strong> <span [innerHTML]="alert.detour_reason"></span>
            </p>
          </div>
        </div>
  </div>
</div>