*{
	box-sizing: border-box; 
}

.strike{
	text-decoration:line-through;
}

#outerContainer{
	display:flex;
	flex-flow:row nowrap;
	width:100%;
	padding:15px;
}

.container{
	display:flex;
	flex-flow:row nowrap;
	margin:10px 0px;
	max-width:500px;
}

.col{
	flex-grow:1;
	border:1px solid #ccc;
	padding:10px;
	min-width:100px;
}

.col1{
	flex-grow:1;
}

.col2{
	flex-grow:3;
	width:150px;
}

.col3{
	flex-grow:2;
}