<div>
	<h1>MEAN Todo App</h1>
	<div>
		<div>
			<input class="form-control" placeholder="Add a Todo" autofocus #todotext (keyup)="addTodoKey($event, todotext, dpInput)">
			<md-input-container>
				<input #dpInput mdInput [mdDatepicker]="picker" placeholder="Choose a date">
				<button mdSuffix [mdDatepickerToggle]="picker"></button>
			</md-input-container>
			<md-datepicker #picker></md-datepicker>
			<input type="button" value="Add" (click)="addTodoBtn(todotext, dpInput)">
		</div>
	</div>
	<!--<div [hidden]="undoneTodos.length > 0 || doneTodos.length > 0">
		<h3>No Todos yet!</h3>
	</div>-->
	<div id="outerContainer">
		<div class="col" [ngClass]="{'today':todayDate==dateInfo[0].labelText}">
			<div class="day">Sunday</div>
			<div class="date">{{dateInfo[0].labelText}}</div>
			<div class="todo-area">
				<todo-list [day]=0 [undoneItems]=dateInfo[0].undoneItems [doneItems]=dateInfo[0].doneItems></todo-list>
			</div>
		</div>
		<div class="col" [ngClass]="{'today':todayDate==dateInfo[1].labelText}">
			<div class="day">Monday</div>
			<div class="date">{{dateInfo[1].labelText}}</div>
			<div class="todo-area">
				<todo-list [day]=1 [undoneItems]=dateInfo[1].undoneItems [doneItems]=dateInfo[1].doneItems></todo-list>
			</div>
		</div>
		<div class="col" [ngClass]="{'today':todayDate==dateInfo[2].labelText}">
			<div class="day">Tuesday</div>
			<div class="date">{{dateInfo[2].labelText}}</div>
			<div class="todo-area">
				<todo-list [day]=2 [undoneItems]=dateInfo[2].undoneItems [doneItems]=dateInfo[2].doneItems></todo-list>
			</div>
		</div>
		<div class="col" [ngClass]="{'today':todayDate==dateInfo[3].labelText}">
			<div class="day">Wednesday</div>
			<div class="date">{{dateInfo[3].labelText}}</div>
			<div class="todo-area">
				<todo-list [day]=3 [undoneItems]=dateInfo[3].undoneItems [doneItems]=dateInfo[3].doneItems></todo-list>
			</div>
		</div>
		<div class="col" [ngClass]="{'today':todayDate==dateInfo[4].labelText}">
			<div class="day">Thursday</div>
			<div class="date">{{dateInfo[4].labelText}}</div>
			<div class="todo-area">
				<todo-list [day]=4 [undoneItems]=dateInfo[4].undoneItems [doneItems]=dateInfo[4].doneItems></todo-list>
			</div>
		</div>
		<div class="col" [ngClass]="{'today':todayDate==dateInfo[5].labelText}">
			<div class="day">Friday</div>
			<div class="date">{{dateInfo[5].labelText}}</div>
			<div class="todo-area">
				<todo-list [day]=5 [undoneItems]=dateInfo[5].undoneItems [doneItems]=dateInfo[5].doneItems></todo-list>
			</div>
		</div>
		<div class="col" [ngClass]="{'today':todayDate==dateInfo[6].labelText}">
			<div class="day">Saturday</div>
			<div class="date">{{dateInfo[6].labelText}}</div>
			<div class="todo-area">
				<todo-list [day]=6 [undoneItems]=dateInfo[6].undoneItems [doneItems]=dateInfo[6].doneItems></todo-list>
			</div>
		</div>
	</div>
</div>