*{
	box-sizing: border-box; 
}

.container{
	display:flex;
	flex-flow:row wrap;
	margin:10px 0px;
	max-width:150px;
	padding:10px;
	justify-content:space-between;
}

@media (max-width:480px){
	.container{
		max-width:480px;
	}
}

.col1{
	flex-grow:2;
}

.col2{
	flex-grow:2;
}

.col3{
	flex-grow:2;
}

.strike{
	text-decoration:line-through;
}