*{
	box-sizing: border-box; 
}

.container{
	margin:10px 0px;
	max-width:150px;
	padding:10px;
}

@media (max-width:480px){
	.container{
		display:flex;
		flex-flow:row wrap;
		margin:10px 0px;
		max-width:480px;
		padding:10px;
		justify-content:space-between;
	}
}

.col1{
	display:inline-block;
	width:15px;
}

.col2{
	display:inline-block;
}

.col3{
	
}

.strike{
	text-decoration:line-through;
}