*{
	box-sizing: border-box; 
}

#outerContainer{
	display:flex;
	flex-flow:row nowrap;
	width:100%;
}

.col{
	flex-grow:1;
	border:1px solid #ccc;
	min-width:100px;
}

.date, .day{
	padding:5px 10px;
	background-color:#eee;
}

.today .day, .today .date{
	background-color:#7cbc8f;
}

@media (max-width:480px){
	#outerContainer{
		display:flex;
		flex-flow:column nowrap;
		width:100%;
	}
}