h1{
    font-family: 'Poiret One', cursive;
    padding:15px;
    font-size:48px;
    margin:0px;
}

.search{
    padding:15px;
}

.cont{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.col1{
    width: 500px;
    padding:0px 15px;
}

.col2{
    width:300px;
    padding:0px 15px;
    flex-grow:1
}